body {
    background: url("../../public/images/fondo.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
}

.tarjetas {
    background-color: #F6AE2D;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}


.botones {
    text-transform: none;
    background-color: #f6b02d52;
    color: black;
    border-color: #f6b02d49;
    font-weight: bold;
    font-size: 16px;
}

.botones:hover {
    background-color: #f6b02dd8;
    border-color: #F6AE2D;
}

#bienvenidaUser {
    display: flex;
    height: 60px;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}


#atras:hover #backIcon  {
    margin-left: 3px;
    margin-right: 7px;
    cursor: pointer;
}

#atras:hover h2  {
    cursor: pointer;
}

#backIcon {
    color: #F6AE2D;
    margin-left: 10px;
    transition: margin-left 0.2s, margin-right 0.2s;
    scale: 1.2;
}

#backIcon:hover {
    transition: margin-left 0.2s, margin-right 0.2s;
    cursor: pointer;
}

#operaciones {
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
}

#agregarVendedor {
    float: left;
    min-width: 200px;
    max-width: 500px;
    
}

#botonAgregarVendedor {
    height: 70px;
    border-radius: 15px;
}

#buscarVendedor {
    min-width: 400px;
    max-width: 600px;
    height: 70px;
    text-align: left;
    justify-content: left;
    padding-left: 2%;
    border-radius: 15px;
}

#buscarVendedor p {
    margin-right: 5%;
}

#vendedores {
    justify-content: unset;
    padding-left: 2%;
    padding-right: 4%;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    margin-top: 3%;
    border-radius: 15px;
}

#iconoBuscar {
    margin-left: 2%;
    scale: 1.2;
}

#correoEstadoVendedor {
    margin-left: 7%;
}

#accionesVendedor {
    margin-left: auto;
    scale: 1.8;
}

#iconoEditar {
    margin-right: 30%;
    scale: 1;
    transition: scale 0.2s;
}#iconoEditar:hover {
    scale:1.2;
    transition: scale 0.2s;
    cursor: pointer;
}

#iconoEliminar {
    scale: 1;
    transition: scale 0.2s;

}#iconoEliminar:hover {
    scale:1.2;
    transition: scale 0.2s;
    cursor: pointer;
}

